/* ================================= 
  Base Element Styles
==================================== */

.container-3 {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 14px;
  letter-spacing: 2.4px;
  color: #3f3a3a;
}

/* ================================= 
  Base Layout Styles
==================================== */
.container-3{  
  display: flex;
}

.item-3x1{
  flex-grow: 1;
}

.item-3x1 img{  
  width:100%;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 701px) and (max-width: 1149px) {
  
    /* ---- Flexbox Container-4---- */
  
  
  }

@media (min-width: 1150px)  {
  
    /* ---- Flexbox Container-1---- */

  
    /* ---- container-4 max-width responsive ---- */
    .container-4 {
      max-width: 1240px;
      margin-right: auto;
      margin-left: auto;
      }
  }
