/* ================================= 
  Base Layout Styles
==================================== */

.container-3 {
    width: 90%;  /* 1160/1960 = 59.18%; */
    max-width: 1160px;
    margin: 50px auto 40px;
    display: flex;
    letter-spacing: 1.0px;
}

.item-3x1 {
    flex: 1;
    display: flex;
    justify-content: center;
}

.item-3x2 {
    flex: 1;
}

/*  圖  */
.img-width {
    width: 400px;
    background-color: lightgray;
    padding: 50px;
    border-radius: 25% 20px; 
}
.img-3x1 {
    width: 100%;
}

/*  文字  */


.words {
    margin-top: 10px;
    flex: 1;
    height: 100px;  
    line-height: 26px;
    display: flex;
    align-items: center;
  }
  
  .words > div {
    font-weight: bold;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 15px;
    flex: 1;
  }

  .words > div:last-child {
    font-weight: bold;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: solid;
    border-color: #3f3a3a;
    border-width: 1.0px;
    flex: 3;
    display: flex;
    justify-content: center;
  }


.member-msg > div > div{
    margin: 0px 0 10px 0;
  }

  .member-msg > div:first-child {
    margin: 30px 0 10px 0;
    font-weight: bold;
    font-size: 20px;
    color: #8b572a;
  }
  .member-msg > div:last-child {
  border-style: solid none none none;
  border-color: #3f3a3a;
  border-width: 1.0px;
  line-height: 2.6em;
  padding: 10px 0px 10px 0px;
  font-size: 25px;
  }

  /* ----按鈕設定 ---- */
  .container-4 {
    width: 90%;  /* 1160/1960 = 59.18%; */
    max-width: 1160px;
    margin: 0px auto 20px;
    display: flex;
}
.item-4x1 {
    display: flex;
    width: 100%; 
    justify-content: center;
    
  }
  .btn {
    background-color: #4e71ba;
    color: #fff;
    display: flex;
    justify-content: center;
    height: 47px; 
    letter-spacing: 1.8px;
    font-size: 18px; 
    opacity: 1;
    width: 60%;
  }
    
  .btn:hover {
    opacity: 0.8;
  }
  .btn:active {
    opacity: 1;
  }
  
  .signout {
    background-color: #3f3a3a;
  }

    /* ----測試功能之按鈕設定 ---- */
    .container-5 {
        display: none;
    }