/* ================================= 
  Base Element Styles
==================================== */
* {
	box-sizing: border-box;
}
body {
    font-family: "Times New Roman Georgia";
    line-height: 1.6;
}

a { 
	text-decoration: none;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Flexbox ---- */

.container {
    display: flex;
    height: 76px;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
  }

.item-1 {
    /* margin-right: auto; */
    max-width: 151px;
  }
.item-2 {
    margin-right: 10px;
    max-width: 40px;
  }

/* ---- Change Cursor to Pointer ---- */

.addCursor {
  cursor: pointer;
}


/* ================================= 
  Media Queries
==================================== */


@media (min-width: 361px)  {

    .container {
		max-width: 1240px;
	}
}